@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    backdrop-filter: blur(4px);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in;
}

.stick {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-out;
    border-radius: 0 !important;
}

/* Blog styles */
.blog {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* About background styles */
.aboutbg {
    background: url("../assets/about.png") center center no-repeat;
    background-size: cover;
    height: calc(100vh - 67px);
}

/* Service swiper styles */
.abcd .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 5% !important;
}

/* Left arrow icon for Dashboard */
.leftArrowIcon::after {
    position: absolute;
    right: 0;
    content: "";
    border-right: 22px solid #49326b;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

/* Antd Modal */
:where(.css-dev-only-do-not-override-1m62vyb).ant-modal .ant-modal-content {
    padding: 0 !important;
}

/* Hide Scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
    width: 5px; /* Adjust this value to match your design */
    background-color: transparent; /* Change this to the background color of your container */
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent; /* This will hide the scrollbar thumb */
}

/* For Firefox */
.scrollbar-hidden {
    scrollbar-width: thin;
}

.scrollbar-hidden::-moz-scrollbar-thumb {
    background-color: transparent; /* This will hide the scrollbar thumb in Firefox */
}

.gallery_slide_bg {
    background: rgb(73, 50, 107);
    background: linear-gradient(
        90deg,
        rgba(73, 50, 107, 1) 0%,
        rgba(85, 43, 111, 0.7880091292134832) 30%,
        rgba(126, 0, 106, 0) 100%
    );
}

/* GalleryCard.css (create a separate CSS file and import it in the component) */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* 
.gallery-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-info {
    padding: 1rem;
}

.category {
    color: #999;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.title {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.author {
    color: #888;
    font-size: 0.9rem;
}

.price {
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
} */


.service_search {
    background: url("../assets/about.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



